.dashboard-navbar{
    background-color: white !important;
    color: #053348 !important;
    padding: 10px !important;
}
.dashboard-toolbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.dashboard-toolbar Button{
    color: #053348 !important;
    font-weight: 500;
    text-transform: none;
    font-size: 18px;
}

.sidebar{
    width: 30%;
    height: 100vh;
    border: 2px solid black;
    color: #053348 !important;
}

.sidebar-box{
    width: 80%;
    height: 80vh;
    padding: 35px;
}

.sidebar-typo{
    cursor: pointer;
    font-size: 25px !important;
}

.sidebar .logout-button{
    padding: 25px;
    font-size: 30px;
    cursor: pointer !important;
}

.task-section{
    color: #053348 !important;
    padding: 20px !important;
}

.task-status{
    margin-top: 10rem;
    background-color: white !important;
    color: #053348 !important;
    border-radius: 7px;
    padding: 10px;
    width: 90% !important;
}

.task-status Button{
    text-transform: none !important;
    color: #053348;
    font-size: 18px;
}

